:root{
    --cell-size: 6vw;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    margin:0;
    background-color: rgb(46, 45, 45);
}
.board{
    display: inline-grid;
    justify-content:center;
    align-content:center;
    grid-template-columns: repeat(8, auto);
}
.list{
    display: inline-grid;
}
div.cell{
    position:relative;
    display: grid;
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: rgb(250, 245, 239);
    border:1px solid grey;
    user-select:none;
}
div.cellalt{
    background-color:rgb(233, 198, 170);
}

.figure{
    position:absolute;
    justify-self: center;
    align-self: center;
    width: var(--cell-size);
    height: var(--cell-size);
}
.pawn_promote_marker{
    position:relative;
    justify-self: center;
    align-self: center;
    width: calc(0.7*var(--cell-size));
    height: calc(0.7*var(--cell-size));
    z-index: 2;
    background-color: rgb(233, 198, 170);
    border: solid black 1px;
}
.move_marker{
    position:absolute;
    justify-self: center;
    align-self: center;
    width: calc(0.6*var(--cell-size));
    height: calc(0.6*var(--cell-size));
    opacity: 0.7;
}
img{
    -webkit-user-drag: none;
}





.popup{
    width: 40%;
    background-color: whitesmoke;
    position:absolute;
    top: 10%;
    left: 30%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content:center;
}
.popup img{
    border-radius: 50%;
    border:solid black;
    width:15%;
}
.popup *{
    margin: 5%;
    align-self: center;
}
.popup div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}